.card {
  width: 240px;
  height: 150px;
  background: #ffffff;
  margin: 10px auto 8px;
}
.card_product {
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  margin: 10px 0 0 10px;
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 5px;
}
.card_product img {
  grid-column: 1;
  width: 30px;
  height: 30px;
}
.card_product .content {
  display: grid;
  grid-template-rows: 10px auto;
}
.card_product .content span {
  font-size: 0.8rem;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card_product .content p {
  width: 90%;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 0.7rem;
}
.card .option {
  margin: 5px 0 0 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.card .option button {
  border: 0;
  background: none;
  color: #b6b6b6;
  cursor: pointer;
}
.card .option button:first-child {
  border-right: 2px solid rgba(0, 0, 0, 0.03);
}
@media (min-width: 1200px) {
  .card {
    width: 95%;
    height: 88%;
    margin: 20px 10px 10px 5px;
  }
  .card_product {
    grid-template-columns: 60px auto;
  }
  .card_product img {
    width: 50px;
    height: 50px;
  }
  .card_product .content {
    grid-template-rows: 30px auto;
  }
  .card_product .content span {
    font-size: 1.5rem;
    height: 30px;
  }
  .card_product .content p {
    height: 75px;
    -webkit-line-clamp: 4;
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: 95%;
    height: 90%;
    margin: 10px 0 15px 5px;
  }
  .card_product {
    grid-template-columns: 60px auto;
  }
  .card_product img {
    width: 50px;
    height: 50px;
  }
  .card_product .content {
    grid-template-rows: 25px auto;
  }
  .card_product .content span {
    font-size: 1.2rem;
  }
  .card_product .content p {
    height: 75px;
    -webkit-line-clamp: 4;
    font-size: 1rem;
  }
}
@media (min-width: 381px) and (max-width: 767px) {
  .card {
    width: 95%;
    margin: 15px 5px 10px 5px;
  }
  .card_product {
    grid-template-columns: 30px auto;
  }
  .card_product img {
    width: 30px;
    height: 30px;
  }
  .card_product .content {
    grid-template-rows: 10px auto;
  }
  .card_product .content span {
    font-size: 0.8rem;
    height: 20px;
  }
}
