.main {
  background: #f0f2f5;
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.newCard {
  width: 300px;
  height: 200px;
  background: #ffffff;
  margin: 20px 0 10px 10px;
  position: relative;
  border: 1px dashed #00a6ff;
}
.newCard > button {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  position: absolute;
  left: 38%;
  top: 40%;
  color: #00a6ff;
  cursor: pointer;
}
.newCard > button::before {
  content: "+ ";
}
