.header {
  width: 100%;
  height: 120px;
  margin: 0 0 30px 20px;
  background: #ffffff;
}
.header_title img {
  float: right;
  width: 170px;
  height: 100px;
  margin: -80px 20px 10px 0;
}
.catalogue {
  display: flex;
}
.catalogue_list {
  margin-right: 20px;
  color: #00a6ff;
}
.catalogue_list i {
  margin-right: 5px;
}
