.delete_modal {
  width: 600px;
  height: 260px;
  position: absolute;
  left: 200px;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
    0 1px 14px 0 rgba(0, 0, 0, 0.12);
}
.delete_modal .title {
  margin: 30px 0 0 20px;
  font-size: 30px;
  padding-bottom: 30px;
}
.delete_modal .title i {
  font-size: 30px;
  color: #ff9100;
  margin-right: 10px;
}

.delete_modal p {
  text-align: center;
  font-size: 20px;
}
.delete_modal .modal_option {
  margin-top: 25px;
}
